body {
	font-family: 'Ubuntu', arial, serif;
	margin: 0;
	padding: 0;
	background: url(../images/bg.png);
}

li:hover{
	opacity: .5;
}

li.active{
	opacity: .5;
}

a:link, a:visited {
color: #a2a2a2;
text-decoration: none;
}

.clearb {
	clear: both;
}



/* MAIN STYLES */

.container {
	width: 1200px;
	margin: auto;
}

#top {
	background: url(../images/bg3.png) no-repeat 10%;
	font-size: 1.1em;
	width: 555px;
	height: 220px;
	padding: 60px 0 0 190px;
	float: left;
	margin-left: 100px;
}

#top img {
	margin-bottom: 5px;
}

#top p {
padding-top: 100px;
padding-left: 260px;
float: left;
font-size: 65px;
font-weight: bold;
color: white;
}


/* NAVIGATION BAR */

#nav {
	float: left;
	width: 150px;
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
}

#nav a, #nav li {
	display: block;
	float: left;
	font-size: 32px;
}



/* MAIN CONTENT */

#content {
	clear: both;
	float: left;
	width: 635px;
	height: 500px;
	padding: 20px 30px 20px 80px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #eee repeat;
	margin-left: 100px;
	margin-bottom: -20px;
	margin-top: -39px;
}



/* SIDE BAR */

#sidebar {
	color: #8d8974;
	float: left;
	width: 215px;
	padding-top: 0px;
	margin: 0;
}

.sidebar_pad {
	padding-left: 20px;
}

#photos {
	margin-top: -45px;
	padding-left: 10px;
}

#photos li {
	font-size: 32px;
	color: #d68f35;
	margin-bottom: -10px;
	padding-bottom: 15px;
	display: block;

}

#twitter {
	padding-left: 10px;
}

#twitter li {
	font-size: 32px;
	color: #d68f35;
	margin-top: 20px;
	margin-bottom: -15px;
	padding-bottom: 0px;
	display: block;
}

#tweet li {
	font-size: 12px;
	padding-bottom: 15px;
}

#tweet li:hover {
	opacity: 1;
}


/* FOOTER */

#footer {
	clear: both;
	padding-right: 30px;
	margin-top: 0px;
	width: 715px;
	height: 40px;
	text-align: right;
	float: left;
	margin-left: 100px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #eee repeat;
}
#footer div {
	padding-bottom: 20px;
}
#footer div a {
	color: #4b3f26;
	text-decoration: underline;
	padding-left: 5px;
}
#footer div a:hover {
	text-decoration: none;
}
#foot_top {
	float: left;
	margin: 90px 0 0 20px;
}

#contact a {
padding-right: 5px;
}

#contact a:hover {
opacity: .5;
}



/* STYLING */

h2, h3, h4 {
	font-family: 'Ubuntu';
	font-weight: normal;
	color: #d68f35;
	line-height: normal;
	letter-spacing: -1px;
}
h2 {
	font: normal 'Ubuntu';
	font-size: 24px;
	color: #d68f35;
	letter-spacing: -2px;
	text-transform: uppercase;
	height: 38px;
	margin-bottom: 10px;
}
h3 {
	font-size: 26px;
	line-height: 1em;
	margin: 0 0 .2em 0;
}
h4 {
	font: bold 16px 'Ubuntu';
	margin-bottom: 8px;
}

p {
	padding: 0;
	margin-right: 15px;
	margin-bottom: 1.6em;
}


